body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.super-loader {
    position: relative;
    width: 200px;
    height: 200px;
    animation: spin 6s linear infinite;
    filter: drop-shadow(0 0 10px #0ff) drop-shadow(0 0 25px #0ff);
}

.super-loader span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0ff;
    transform: rotate(calc(45deg * var(--i))) translateY(-90px);
    animation: pulse 1.5s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.15s);
    
}


@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
        

}


@keyframes pulse {
    0%, 100% {
        transform: rotate(calc(45deg * var(--i))) translateY(-90px) scale(0.8);
        box-shadow: 0 0 15px #0ff, 0 0 30px #0ff;
    }
    50% {
        transform: rotate(calc(45deg * var(--i))) translateY(-90px) scale(1.6);
        box-shadow: 0 0 30px #0ff, 0 0 60px #0ff;
    }
    
    25%{
     background-color: rgb(255, 0, 0);
   }
    50%{
     background-color: rgb(212, 255, 0);
   }
   75%{
     background-color: rgb(38, 0, 255);
   }
    100%{
     background-color: rgb(34, 255, 0);
    }
    120%{
        background-color: blueviolet;

    }
    150%{
        background-color: fuchsia;
    }
    
}

  
